.sign-in{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--main-bg);
    border: var(--qna-border);
    border-radius: var(--qna-border-radius);
    width: fit-content;
    padding: 1em;
}
