.search-box{
    padding: 1em;
    display: flex;
    align-items: center;
}
.search-bar{
    font-size: 15px;
    height: 1em;
    width: 20em;
    padding: 1em;
    border: 1px solid black;
    border-radius: 2em;
    box-shadow: 0.1em 0.1em grey;
}

.search-icon{
    height:2em;
    width: 2em;
    margin: 1em;
}

.search-icon:hover{
    cursor: pointer;
    background-color:rgb(255, 210, 255);
}

input:focus{
    outline: none;
}