.ask-box{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 15em;
    width: 15em;
    border-radius: 0.5em;
    border: 1px solid black;
}
.post-button{
    font-family: 'Ubuntu';
    font-size:15px;
    height: 1.5em;
    width: 3em;
    border-radius: 0.5em;
    background-color:white;
    color: rgb(94, 91, 91);
    margin: 1em;
}
.ask-a-question{
    font-size: 20px;
    color:darkviolet;
}
.post-button:hover{
    background-color: darkorchid;
    cursor: pointer;
    color: white;
}
.question-asked{
    padding: 1em;
    color:slateblue;
    width: 12em;
    height: 8em;
    resize: none;
}