.answers-box{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.question-wrap{
    padding: 1em;
    margin: 1rem;
    background-color: hsl(60, var(--s),70%);
    border-radius: var(--qna-border-radius);
    box-shadow: 3px 3px  hsl(60, var(--s),30%);
}

.question-main{
    font-size: 20px;
    font-weight: bold;
}

.question-footer{
    display: flex;
    justify-content: space-between;
}

.answer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}