.navigation {
    margin: 2em;
    display: flex;
    align-items: center ;
    justify-content:space-around;
}

.qna-title{
    font-size: 50px;
    color:darkslateblue;
    padding: 0.1em;
    margin: 0.1em;
}

.logo{
    height: 5em;
    width: 5em;
}

.profile{
    height: 5em;
    width: 5em;
    }
