nav{
  display: flex;
  justify-items:center;
  align-items: center;
  border-radius: var(--qna-border-radius);
  align-self: center;
  background: var(--main-bg-color);
}

.sticky-nav{
  background-color: var(--main-color);
  display: flex;
  
}