.main {
    display: flex;
    justify-content: center;    
    margin: 0px;
}

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: black;
    border: 5px inset blueviolet ;
    margin: 2em;
    padding: 1em;
    border-radius: 1em;
    align-self: center;
}

.form-details {
    padding: 1em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    
}

.register-button {
    font-family: 'Ubuntu';
    font-size:15px;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color:white;
    color: black;
    margin: 1em;
    font-weight: bolder;
    cursor: pointer;
    
}

.email-box,.password-box,.confirm-password-box {
    font-size: 15px;
    height: 1em;
    width: 20em;
    padding: 1em;
    border: 1px solid black;
    border-radius: 2em;
    box-shadow: 0.1em 0.1em grey;
    margin: 1em;


}

.sign-in {
    font-size: 17px;
    cursor: pointer;
    color: blue;

}


.register-button:hover{
    background-color: blueviolet;
    color: white;
}

