.register-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: var(--qna-border);
    border-radius: var(--qna-border-radius);
    width: fit-content;
    padding: 1em;
}

