.question-container{
    padding: 0.5em;
    margin: 0.1rem;
    border: 1px solid var(--main-color);
    border-radius: var(--qna-border-radius);
    box-sizing: border-box;
    box-shadow: 3px 3px  hsl(60, var(--s),30%);
    background-color: hsl(60, var(--s),80%);
}

.question-statement{
    font-weight: bold;
    color: var(--question-link-color);
}

.question-details{
  display: flex;
  justify-content: space-between;
}

.question-statement:hover{
    filter: brightness(1.2);
}

.answers-and-time{
    font-size: 0.8rem;
    color: hsl(0, 0%, 50%);
    margin: 0.5rem 0;
}

.user{
  display: flex;
  align-items: center;
}