.question-container{
    padding: 0.5em;
    margin: 0.5rem;
    border: var(--qna-border);
    border-radius: var(--qna-border-radius);
    background-image: var(--main-bg-gradient);
}

.question-statement{
    color: var(--question-link-color);
    font-size: 20px;
}