:root{
  --h: 270;
  --s: 100%;
  --l: 35%;
  --main-color: hsl(var(--h), var(--s), var(--l));
  --main-bg-gradient: linear-gradient(hsl(var(--h),var(--s),90%), hsl(var(--h),var(--s),100%));
  --qna-border: 1px solid var(--main-color);
  --qna-border-radius: 0.5rem;
  --qna-font: 'IBM Plex sans';
  --qna-outline: 2px solid hsl(var(--h), var(--s), 90%);
  --question-link-color: hsl(210, 100%, 50%);
}

body{
  margin: 0;
}

a{
  text-decoration: none;
  color: hsl(var(--h), var(--s), 30%);
}

input, textarea{
  font: var(--qna-font);
  font-size: 15px;
  padding: 0.5em;
  margin: 0.5rem;
  border: var(--qna-border);
  border-radius: var(--qna-border-radius);
}

textarea{
  resize: none;
}

input:focus, textarea:focus{
  outline: var(--qna-outline);
}

select {
  font: var(--qna-font);
  margin: 1rem;
  padding: 0.5em;
  border: var(--qna-border);
  border-radius: var(--qna-border-radius);
}

label{
  font-weight:bold;
  margin: 0.5rem;
}

.app {
  font-family: var(--qna-font);
}

.submit-button{
  font: var(--qna-font);
  border: var(--qna-border);
  border-radius: var(--qna-border-radius);
  background-color: white;
  color: var(--main-color);
  cursor: pointer;
  margin: 0.5rem;
  padding: 0.5em;
}

.submit-button:hover{
  background-color: var(--main-color);
  color: white;
}

.submit-button:active{
  transform: scale(1.1,1.1);
  filter: brightness(1.1);
}
