.app {
  font-family: 'Ubuntu';
  display:grid;
}
.main-content{
  display: flex;
  
}
.questions-box{
  margin: 2em;
  padding: 1em;
  border: 0.1em solid black;
  border-radius: 1em;
  width: 60%;
}
.sort-by{
  border: 0.2em solid ;
  border-radius: 1em;
  font-family:'Ubuntu','Times New Roman', Times, serif;
  float:right;
  padding: 0.2em;
}

select:focus{
  outline: none;
}